@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Tate Wilks - IS Core Student";
    ViewBag.Header = "Tate";
}

<body>
    <div class="container">
        <div class="image-info-container">
            <div class="image-container">
                <img src="../img/me.jpg" alt="Image of something I enjoy" />
            </div>
            <div class="info-container">
                <div class="lists">
                    <h1>My Top Three Desired Jobs</h1>
                    <ul>
                        <li>Web Developer (Frontend and Backend)</li>
                        <li>Data Scientist</li>
                        <li>AI Developer</li>
                    </ul>
                </div>
                <div>
                    <div class="p-container">
                        <p>I want to learn how to develop solid, beautiful web applications that can be easily maintained and marketed to outside companies. I want to feel confident in doing freelance web development work by the end of this semester. This includes learning skills such as React, C#, Bootstrap, and other valuable programming languages that will make me more versatile.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>