:root {
    /*dark theme*/
    --text-color: rgba(200, 200, 200, 1);
    --background-color: rgba(0, 0, 0, 0.9);
    /*light theme*/
    --text-colorL: rgba(0, 0, 0, 1);
    --background-colorL: rgba(255, 255, 255, 0.8);
}

body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Calibri;
}

.overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.section-title {
    text-align: center;
    border-top: solid 1px var(--text-colorL);
    border-bottom: solid 1px var(--text-colorL);
}

.section-title h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

menu {
    margin: 0px;
    width: 100%;
    padding-right: 40px;
}

menu ul {
    margin: 0px;
    float: right;
    list-style-type: none;
}

menu ul li {
    display: inline;
    line-height: 100px;
    padding-right: 20px;
}

menu ul li a {
    text-decoration: none;
    color: var(--text-colorL);
    transition: 0.1s;
}

menu ul li a:hover {
    color: rgb(128, 128, 128);
}

.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: right;
    top: 0;
    left: 0;
    height: 100px;
    background-color: var(--background-colorL);
    /* box-shadow: 0 0 20px 10px rgba(0, 0, 0, 1); */
    color: white;
    font-size: 40px;
}

.navbar h1 {
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
    color: var(--text-colorL);
}

.main {
    width: 100%;
}

.container {
    margin-top: 150px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--background-colorL);
    /* box-shadow: 0 0 20px 10px rgba(0, 0, 0, 1); */
    padding: 20px;
    color: var(--text-colorL);
}

.image-info-container {
    display: flex;
}

img {
    width: 100%;
}

.image-container {
    width: 40%;
}

.info-container {
    padding: 20px;
    width: 60%;
}

.lists h1 {
    color: var(--text-colorL);
    text-align: center;
    font-size: 40px;
}

.lists li {
    text-align: left;
    font-size: 24px;
}

.calculator {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    justify-content: center;
    color: var(--text-colorL);
    background-color: var(--background-colorL);
    padding: 10px;
}

.labels-inputs label {
    width: 60%;
    display: inline-block;
    text-align: right;
    padding: 10px;
    font-size: 30px;
}

.labels-inputs input {
    width: 30%;
    font-size: 30px;
    border: none !important;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-colorL);
    transition: 0.2s;
    border-radius: 2px;
}

.labels-inputs input:hover {
    color: var(--background-color);
    background-color: var(--background-colorL);
}

.total-calc-container {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    border-top: solid 1px var(--text-colorL);
}

.total-calc-container #p-label {
    width: 60%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right; 
    padding: 10px;
}

.total-calc-container #total-grade-estimate {
    width: 30%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    font-size: 32px;
}

.p-container {
    font-size: 24px;
    text-align: justify;
    text-justify: inter-word;
}

.calc-explanation {
    font-size: 19px;
    text-align: justify;
    text-justify: inter-word;
}

.input-containers {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    margin: 0px;
    background-color: var(--background-colorL);
}